openapi: "3.1.0"

info:
  title: The Social Wire API
  description: |
    HTTP contract for the Social Wire **distributed backend**:

    - **`services/gateway`** (this spec's `servers` URLs) — OAuth client metadata, DPoP verification, PDS write-through, sync cache, unbuffered proxy to AppView.
    - **`services/appview`** — publication sidebar projection (`/v1/publications/*`), Thin AppView read index (`/v1/appview/*`), bootstrap stream.
    - **`services/appview-worker`** — Jetstream ingestion and proactive backfill (no HTTP surface).

    **OAuth client metadata** mirrors SPA + ATS clients (`/oauth-client-metadata.json`, `/ios-client-metadata.json`) with scopes from **`ATProtoOAuthScopes`**.

    **Authenticated routes** require `Authorization: Bearer` or `Authorization: DPoP` plus RFC 9449 `DPoP` proof binding (`cnf.jkt` when emitted by the issuer).

    **Thin AppView** (`ENABLE_THIN_APPVIEW` on AppView): Level-1 entry index, unread counts, bootstrap-stream NDJSON initial load, scoped mark-all-read. Ingested by **`services/appview-worker`**.

    LATR HTTPS merge APIs stay on the Next.js web app — not documented here.
  version: "1.0.0"
  contact:
    name: Stygian Tech
    url: https://github.com/Stygian-Tech

servers:
  - url: https://api.thesocialwire.app
    description: Production gateway
  - url: https://api.testing.thesocialwire.app
    description: Development / testing gateway
  - url: http://localhost:8080
    description: Local gateway

# ── Security ──────────────────────────────────────────────────────────────────

components:
  securitySchemes:
    ATProtoOAuthDPoP:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        ATProto access JWT (`Authorization: Bearer` or `Authorization: DPoP` prefix extracting the JWT).
        The gateway resolves issuer metadata to JWKS before trusting `sub`.

        **`DPoP` header**: supply `DPoP: <jwt proof>` whose **`ath`** claim covers the ASCII access JWT and whose **`cnf`** hash matches **`cnf.jkt`** whenever the issuer embeds confirmation.

        **Hosted infra (first-party only):** when `OAUTH_GATEWAY_REQUIRE_KNOWN_CLIENT` is enabled server-side,
        callers must present JWT claims compatible with **`OAUTH_GATEWAY_ALLOWED_CLIENT_IDS`**
        (typically **`client_id`** / **`azp`**) **and/or** **`OAUTH_GATEWAY_ALLOWED_AUDIENCES`**.
        Operators who **self-host** this gateway configure their own allowlists; arbitrary third-party OAuth
        apps should not rely on Social Wire production API hosts without an explicit arrangement.

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: Unauthorized
        message:
          type: string
          description: Human-readable error description.
          example: Unauthorized — invalid ATProto JWT or malformed DPoP proof.

    EntryListItem:
      type: object
      required: [entryId, title, publishedAt]
      properties:
        entryId:
          type: string
          description: at-uri identifying this entry.
          example: "at://did:plc:abc123/com.example.entry/3jxx"
        title:
          type: string
          example: "Hello, World"
        summary:
          type: string
          description: Short excerpt or subtitle.
        publishedAt:
          type: string
          format: date-time
        originalUrl:
          type: string
          format: uri
          description: |
            Canonical article HTTPS URL when known (RSS link, render `articleUrl`, etc.).
            Omitted for entries without a resolvable web permalink.
        isRead:
          type: boolean
          default: false

    EntryDetail:
      type: object
      required: [entryId, title, publishedAt, contentHtml]
      properties:
        entryId:
          type: string
        title:
          type: string
        publishedAt:
          type: string
          format: date-time
        contentHtml:
          type: string
          description: |
            Sanitized HTML content of the entry. Scripts and unsafe attributes have
            been stripped. Images are allowed with validated URLs.
        originalUrl:
          type: string
          format: uri
          description: Link to the original entry on standard.site.

    PublicationAppViewScope:
      type: object
      required: [authorDid, publicationScopeAtUris, publicationSiteUrls]
      properties:
        authorDid:
          type: string
        publicationAtUri:
          type: string
          nullable: true
        publicationScopeAtUris:
          type: array
          items:
            type: string
        publicationSiteUrls:
          type: array
          items:
            type: string

    SidebarPublicationRow:
      type: object
      required: [publicationId, authorDid, title, discoveredAt, appViewScope]
      properties:
        publicationId:
          type: string
        subscriptionPublicationId:
          type: string
          nullable: true
        authorDid:
          type: string
        authorHandle:
          type: string
          nullable: true
        title:
          type: string
        iconUrl:
          type: string
          nullable: true
        avatarUrl:
          type: string
          nullable: true
        discoveredAt:
          type: string
          format: date-time
        unreadCount:
          type: integer
          nullable: true
        appViewScope:
          $ref: "#/components/schemas/PublicationAppViewScope"

    PublicationFolderSection:
      type: object
      required: [folderUri, folderRkey, name, publications, unreadCount]
      properties:
        folderUri:
          type: string
        folderRkey:
          type: string
        name:
          type: string
        publications:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        unreadCount:
          type: integer

    PublicationSidebarResponse:
      type: object
      required:
        - viewerDid
        - folders
        - publicationPrefs
        - folderSections
        - allPublicationRows
        - myPublications
        - subscribedUnfoldered
        - followingTabPublications
        - enrollAuthorDids
        - totalUnreadCount
        - refreshedAt
      properties:
        viewerDid:
          type: string
        folders:
          type: array
          items:
            type: object
        publicationPrefs:
          type: array
          items:
            type: object
        folderSections:
          type: array
          items:
            $ref: "#/components/schemas/PublicationFolderSection"
        allPublicationRows:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        myPublications:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        subscribedUnfoldered:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        followingTabPublications:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        enrollAuthorDids:
          type: array
          items:
            type: string
        totalUnreadCount:
          type: integer
        refreshedAt:
          type: string
          format: date-time

    ResolveAddPublicationResponse:
      type: object
      properties:
        result:
          type: object
          nullable: true
        error:
          type: string
          nullable: true

    CursorPage:
      type: object
      properties:
        cursor:
          type: string
          description: Opaque pagination cursor. Pass to the next request to get the next page. Absent on the last page.

    OperationsEnvironment:
      type: string
      enum: [dev, prod]

    OperationsEvidenceMetadata:
      type: object
      additionalProperties: false
      required: [source, accuracy, generatedAt, ageSeconds, validUntil]
      properties:
        source:
          type: string
          description: Stable name of the instrument or store that produced this evidence.
        accuracy:
          type: string
          enum: [exact, sampled, estimated, unavailable]
        generatedAt: { type: string, format: date-time }
        indexedThrough: { type: [string, "null"], format: date-time }
        ageSeconds: { type: number, minimum: 0 }
        validUntil: { type: string, format: date-time }
        coverage:
          type: [number, "null"]
          minimum: 0
          maximum: 1
        lastSuccessfulAt: { type: [string, "null"], format: date-time }
        degradedReason:
          type: [string, "null"]
          description: Required by convention when accuracy is unavailable or coverage is partial.

    OperationsCapability:
      type: object
      additionalProperties: false
      required: [enabled]
      properties:
        enabled: { type: boolean }
        disabledReason: { type: [string, "null"] }

    OperationsCapabilities:
      type: object
      additionalProperties: false
      required: [environment, telemetry, recovery, recoveryModes, alertDelivery, eventStream, generatedAt]
      properties:
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        telemetry: { $ref: "#/components/schemas/OperationsCapability" }
        recovery: { $ref: "#/components/schemas/OperationsCapability" }
        recoveryModes: { $ref: "#/components/schemas/OperationsRecoveryModeCapabilities" }
        alertDelivery: { $ref: "#/components/schemas/OperationsCapability" }
        eventStream: { $ref: "#/components/schemas/OperationsEventStreamCapability" }
        generatedAt: { type: string, format: date-time }

    OperationsRecoveryModeCapabilities:
      type: object
      additionalProperties: false
      required: [tapVerifiedResync, jetstreamReplay, pdsReconciliation]
      properties:
        tapVerifiedResync: { $ref: "#/components/schemas/OperationsCapability" }
        jetstreamReplay: { $ref: "#/components/schemas/OperationsCapability" }
        pdsReconciliation: { $ref: "#/components/schemas/OperationsCapability" }

    OperationsEventStreamCapability:
      type: object
      additionalProperties: false
      required: [enabled, path, retryMilliseconds, fallbackPollMilliseconds]
      properties:
        enabled: { type: boolean }
        disabledReason: { type: [string, "null"] }
        path: { type: string, const: /v1/operations/events/stream }
        retryMilliseconds: { type: integer, minimum: 1000 }
        fallbackPollMilliseconds: { type: integer, minimum: 1000 }

    OperationsLifecycleCounts:
      type: object
      additionalProperties: false
      required: [activeGaps, activeBackfills, attentionBackfills, completedBackfills, unresolvedAlerts]
      properties:
        activeGaps: { type: integer, minimum: 0 }
        activeBackfills: { type: integer, minimum: 0 }
        attentionBackfills: { type: integer, minimum: 0 }
        completedBackfills: { type: integer, minimum: 0 }
        unresolvedAlerts: { type: integer, minimum: 0 }

    OperationsServiceState:
      type: object
      additionalProperties: false
      required: [service, environment, instanceId, liveness, readiness, freshness, completeness, dependencyState, startedAt, heartbeatAt]
      properties:
        service: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        instanceId: { type: string }
        liveness: { type: string, enum: [healthy, degraded, unhealthy, unknown] }
        readiness: { type: string, enum: [healthy, degraded, unhealthy, unknown] }
        freshness: { type: string, enum: [healthy, degraded, unhealthy, unknown] }
        completeness: { type: string, enum: [healthy, degraded, unhealthy, unknown] }
        dependencyState:
          type: object
          additionalProperties: { type: string }
        version: { type: [string, "null"] }
        startedAt: { type: string, format: date-time }
        heartbeatAt: { type: string, format: date-time }

    IngestionStreamState:
      type: object
      additionalProperties: false
      required: [environment, source, connectionState, queueDepth, heartbeatAt, version]
      properties:
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        source: { type: string }
        connectionState: { type: string, enum: [connected, disconnected, reconnecting, unknown] }
        connectedAt: { type: [string, "null"], format: date-time }
        lastDisconnectAt: { type: [string, "null"], format: date-time }
        lastDisconnectReason: { type: [string, "null"] }
        lastReceivedCursor: { type: [integer, "null"], format: int64 }
        lastReceivedEventAt: { type: [string, "null"], format: date-time }
        lastReceivedAt: { type: [string, "null"], format: date-time }
        lastCommittedCursor: { type: [integer, "null"], format: int64 }
        lastCommittedEventAt: { type: [string, "null"], format: date-time }
        lastCommittedAt: { type: [string, "null"], format: date-time }
        queueDepth: { type: integer, minimum: 0 }
        queueCapacity: { type: [integer, "null"], minimum: 0 }
        queueOverflowTotal: { type: [integer, "null"], format: int64, minimum: 0 }
        queueEvidence:
          anyOf:
            - { $ref: "#/components/schemas/OperationsEvidenceMetadata" }
            - { type: "null" }
        transportHeartbeatAt: { type: [string, "null"], format: date-time }
        lastIndexedMutationAt: { type: [string, "null"], format: date-time }
        projectionWatermark: { type: [string, "null"] }
        validationWatermark: { type: [string, "null"] }
        heartbeatAt: { type: string, format: date-time }
        version: { type: integer, minimum: 0 }

    JetstreamEndpointState:
      type: object
      additionalProperties: false
      required: [id, environment, displayName, host, role, connectionState, connectionAttempts, failoverCount, updatedAt, version]
      properties:
        id: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        displayName: { type: string }
        host: { type: string }
        role: { type: string, enum: [active, standby] }
        connectionState: { type: string, enum: [connected, disconnected, reconnecting, unknown] }
        lastConnectedAt: { type: [string, "null"], format: date-time }
        lastDisconnectedAt: { type: [string, "null"], format: date-time }
        lastError: { type: [string, "null"] }
        connectionAttempts: { type: integer, minimum: 0 }
        failoverCount: { type: integer, minimum: 0 }
        updatedAt: { type: string, format: date-time }
        version: { type: integer, minimum: 0 }

    OperationsCommand:
      type: object
      additionalProperties: false
      required: [id, environment, action, status, requestedByDid, createdAt, updatedAt, version]
      properties:
        id: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        action: { type: string, enum: [reconnect_jetstream] }
        status: { type: string, enum: [queued, running, completed, failed] }
        requestedByDid: { type: string }
        auditNote: { type: [string, "null"] }
        claimedBy: { type: [string, "null"] }
        leaseExpiresAt: { type: [string, "null"], format: date-time }
        failureReason: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        completedAt: { type: [string, "null"], format: date-time }
        version: { type: integer, minimum: 0 }

    IngestionGap:
      type: object
      additionalProperties: false
      required: [id, environment, source, reason, status, collections, detectedAt, updatedAt, discoveredCount, processedCount, failedCount, reconciledCount, version]
      properties:
        id: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        source: { type: string }
        startCursor: { type: [integer, "null"], format: int64 }
        endCursor: { type: [integer, "null"], format: int64 }
        startTime: { type: [string, "null"], format: date-time }
        endTime: { type: [string, "null"], format: date-time }
        reason: { type: string }
        status:
          type: string
          enum: [suspected, confirmed, backfill_queued, backfilling, verification_required, resolved, ignored]
        collections:
          type: array
          items: { type: string }
        detectedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        backfillJobId: { type: [string, "null"] }
        discoveredCount: { type: integer, minimum: 0 }
        processedCount: { type: integer, minimum: 0 }
        failedCount: { type: integer, minimum: 0 }
        reconciledCount: { type: integer, minimum: 0 }
        version: { type: integer, minimum: 0 }

    BackfillAuthorResult:
      type: object
      additionalProperties: false
      required: [did, collection, discoveredCount, processedCount, failedCount, capped, truncated, status]
      properties:
        did: { type: string, pattern: "^did:" }
        collection: { type: string }
        discoveredCount: { type: integer, minimum: 0 }
        processedCount: { type: integer, minimum: 0 }
        failedCount: { type: integer, minimum: 0 }
        capped: { type: boolean }
        truncated: { type: boolean }
        status: { type: string, enum: [succeeded, partial, failed, cancelled, unsupported] }
        error:
          type: [string, "null"]
          description: Normalized bounded error category; never a raw upstream response.

    BackfillJob:
      type: object
      additionalProperties: false
      required: [id, environment, sourceMode, status, collections, authorDids, authorResults, batchSize, rateLimit, maxConcurrency, estimatedCount, processedCount, failedCount, reconciledCount, requestedByDid, createdAt, updatedAt, version, verificationStatus, scopeTruncated]
      properties:
        id: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        gapId: { type: [string, "null"] }
        sourceMode: { type: string, enum: [tap_verified_resync, jetstream_replay, pds_reconciliation] }
        status: { type: string, enum: [queued, running, paused, completed, failed, cancelled] }
        startCursor: { type: [integer, "null"], format: int64 }
        endCursor: { type: [integer, "null"], format: int64 }
        checkpointCursor: { type: [integer, "null"], format: int64 }
        collections:
          type: array
          items: { type: string }
        authorDids:
          type: array
          items: { type: string }
        authorResults:
          type: array
          items: { $ref: "#/components/schemas/BackfillAuthorResult" }
        batchSize: { type: integer, minimum: 1 }
        rateLimit: { type: integer, minimum: 1 }
        maxConcurrency: { type: integer, minimum: 1 }
        estimatedCount: { type: integer, minimum: 0 }
        processedCount: { type: integer, minimum: 0 }
        failedCount: { type: integer, minimum: 0 }
        reconciledCount: { type: integer, minimum: 0 }
        requestedByDid: { type: string }
        auditNote: { type: [string, "null"] }
        failureReason: { type: [string, "null"] }
        leaseOwner: { type: [string, "null"] }
        leaseExpiresAt: { type: [string, "null"], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        completedAt: { type: [string, "null"], format: date-time }
        version: { type: integer, minimum: 0 }
        verificationStatus: { type: string, enum: [pending, required, verified, failed] }
        verificationReason: { type: [string, "null"] }
        scopeTruncated: { type: boolean }
        validationWatermark: { type: [string, "null"] }

    OperationsAlert:
      type: object
      additionalProperties: false
      required: [id, environment, rule, conditionKey, severity, status, summary, evidence, runbookSlug, openedAt, updatedAt, deliveryAttempts, version]
      properties:
        id: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        rule: { type: string }
        conditionKey:
          type: string
          description: Stable bounded key for one concrete alert condition within a rule.
        severity: { type: string }
        status: { type: string, enum: [open, acknowledged, resolved] }
        summary: { type: string }
        evidence:
          type: object
          additionalProperties: { type: string }
        runbookSlug: { type: string }
        openedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        acknowledgedByDid: { type: [string, "null"] }
        resolvedByDid: { type: [string, "null"] }
        deliveryAttempts: { type: integer, minimum: 0 }
        lastDeliveryError: { type: [string, "null"] }
        nextDeliveryAt: { type: [string, "null"], format: date-time }
        deliveryDeadLetteredAt: { type: [string, "null"], format: date-time }
        version: { type: integer, minimum: 0 }

    TraceSpan:
      type: object
      additionalProperties: false
      required: [id, environment, traceId, service, name, startedAt, durationMs, status, attributes, expiresAt]
      properties:
        id: { type: string }
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        traceId: { type: string }
        parentSpanId: { type: [string, "null"] }
        service: { type: string }
        name: { type: string }
        startedAt: { type: string, format: date-time }
        durationMs: { type: number, minimum: 0 }
        status: { type: string }
        attributes:
          type: object
          additionalProperties: { type: string }
        expiresAt: { type: string, format: date-time }

    OperationsMetricRollup:
      type: object
      additionalProperties: false
      required: [environment, bucketStart, metricName, dimensions, sampleCount, valueSum]
      properties:
        environment: { $ref: "#/components/schemas/OperationsEnvironment" }
        bucketStart: { type: string, format: date-time }
        metricName: { type: string }
        dimensions:
          type: object
          additionalProperties: { type: string }
        sampleCount: { type: integer, minimum: 0 }
        valueSum: { type: number }
        valueMin: { type: [number, "null"] }
        valueMax: { type: [number, "null"] }

    DatabaseTableRecordCount:
      type: object
      additionalProperties: false
      required: [schema, table, estimatedRecords]
      properties:
        schema: { type: string }
        table: { type: string }
        estimatedRecords: { type: integer, format: int64, minimum: 0 }

    DatabaseObservabilitySnapshot:
      type: object
      additionalProperties: false
      required: [databaseSizeBytes, activeConnections, maxConnections, transactionsTotal, estimatedRecords, topTables, connectedBackends, activeQueries, observedAt, evidenceAgeSeconds]
      properties:
        databaseSizeBytes: { type: integer, format: int64, minimum: 0 }
        activeConnections: { type: integer, format: int64, minimum: 0 }
        maxConnections: { type: integer, format: int64, minimum: 0 }
        transactionsTotal: { type: integer, format: int64, minimum: 0 }
        estimatedRecords: { type: integer, format: int64, minimum: 0 }
        cacheHitRatio: { type: [number, "null"], minimum: 0, maximum: 1 }
        statsResetAt: { type: [string, "null"], format: date-time }
        topTables:
          type: array
          items: { $ref: "#/components/schemas/DatabaseTableRecordCount" }
        connectedBackends: { type: integer, format: int64, minimum: 0 }
        activeQueries: { type: integer, format: int64, minimum: 0 }
        transactionRatePerSecond: { type: [number, "null"], minimum: 0 }
        observedAt: { type: string, format: date-time }
        evidenceAgeSeconds: { type: number, minimum: 0 }

    OperationsOverviewEvidence:
      type: object
      required: [services, ingestion, database]
      properties:
        services: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }
        ingestion: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }
        database: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }
      additionalProperties: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    OperationsOverview:
      type: object
      additionalProperties: false
      required: [services, ingestionSources, jetstreamEndpoints, commands, gaps, backfills, alerts, recentTraces, metricRollups, refreshedAt, evidence, capabilities, counts]
      properties:
        services:
          type: array
          items: { $ref: "#/components/schemas/OperationsServiceState" }
        ingestion: { anyOf: [{ $ref: "#/components/schemas/IngestionStreamState" }, { type: "null" }] }
        ingestionSources:
          type: array
          description: Source-specific Tap, Jetstream, RSS, projection repair, and cache maintenance state.
          items: { $ref: "#/components/schemas/IngestionStreamState" }
        jetstreamEndpoints:
          type: array
          items: { $ref: "#/components/schemas/JetstreamEndpointState" }
        commands:
          type: array
          items: { $ref: "#/components/schemas/OperationsCommand" }
        gaps:
          type: array
          description: Active rows only; resolved and ignored gaps are excluded.
          items: { $ref: "#/components/schemas/IngestionGap" }
        backfills:
          type: array
          description: Active rows only; failed, cancelled, and completed jobs are excluded.
          items: { $ref: "#/components/schemas/BackfillJob" }
        alerts:
          type: array
          items: { $ref: "#/components/schemas/OperationsAlert" }
        recentTraces:
          type: array
          items: { $ref: "#/components/schemas/TraceSpan" }
        metricRollups:
          type: array
          items: { $ref: "#/components/schemas/OperationsMetricRollup" }
        database: { anyOf: [{ $ref: "#/components/schemas/DatabaseObservabilitySnapshot" }, { type: "null" }] }
        refreshedAt: { type: string, format: date-time }
        evidence: { $ref: "#/components/schemas/OperationsOverviewEvidence" }
        capabilities: { $ref: "#/components/schemas/OperationsCapabilities" }
        counts: { $ref: "#/components/schemas/OperationsLifecycleCounts" }

    OperationsMutationRequest:
      type: object
      additionalProperties: false
      required: [expectedVersion, idempotencyKey]
      properties:
        expectedVersion: { type: integer, minimum: 0 }
        idempotencyKey: { type: string, minLength: 1, maxLength: 128, pattern: "^\\S+$" }
        auditNote: { type: [string, "null"], maxLength: 280 }
        environmentConfirmation: { type: [string, "null"] }

    GapMutationRequest:
      type: object
      additionalProperties: false
      required: [status, expectedVersion, idempotencyKey]
      properties:
        status:
          type: string
          enum: [suspected, confirmed, backfill_queued, backfilling, verification_required, resolved, ignored]
        expectedVersion: { type: integer, minimum: 0 }
        idempotencyKey: { type: string, minLength: 1, maxLength: 128, pattern: "^\\S+$" }
        auditNote: { type: [string, "null"], maxLength: 280 }
        environmentConfirmation: { type: [string, "null"] }

    BackfillDryRunRequest:
      type: object
      additionalProperties: false
      required: [sourceMode, collections, authorDids, batchSize, rateLimit, maxConcurrency]
      properties:
        gapId: { type: [string, "null"] }
        sourceMode: { type: string, enum: [tap_verified_resync, jetstream_replay, pds_reconciliation] }
        startCursor: { type: [integer, "null"], format: int64 }
        endCursor: { type: [integer, "null"], format: int64 }
        collections:
          type: array
          minItems: 1
          maxItems: 16
          items: { type: string }
        authorDids:
          type: array
          items: { type: string, pattern: "^did:" }
        batchSize: { type: integer, minimum: 1, maximum: 10000 }
        rateLimit: { type: integer, minimum: 1, maximum: 5000 }
        maxConcurrency: { type: integer, minimum: 1, maximum: 16 }

    BackfillDryRunResponse:
      type: object
      additionalProperties: false
      required: [estimatedCount, estimatedDurationSeconds, conflicts, unresolvedDeletesWarning, requestFingerprint, validUntil, methodology, confidence, estimateKind]
      properties:
        estimatedCount: { type: integer, minimum: 0 }
        estimatedDurationSeconds: { type: integer, minimum: 0 }
        snapshotEndCursor: { type: [integer, "null"], format: int64 }
        conflicts:
          type: array
          items: { type: string }
        unresolvedDeletesWarning: { type: boolean }
        requestFingerprint:
          type: string
          description: Short-lived signed fingerprint binding job creation to this dry run.
        validUntil: { type: string, format: date-time }
        methodology: { type: string }
        confidence:
          type: string
          description: Human-readable confidence classification backed by the selected methodology.
        estimateKind: { type: string, enum: [observed, modeled] }
        uncertainty:
          type: [object, "null"]
          additionalProperties: false
          required: [lowerBound, upperBound]
          properties:
            lowerBound: { type: integer, minimum: 0 }
            upperBound: { type: integer, minimum: 0 }

    CreateBackfillRequest:
      type: object
      additionalProperties: false
      required: [dryRun, expectedEstimate, requestFingerprint, idempotencyKey]
      properties:
        dryRun: { $ref: "#/components/schemas/BackfillDryRunRequest" }
        expectedEstimate: { type: integer, minimum: 0 }
        requestFingerprint: { type: string }
        idempotencyKey: { type: string, minLength: 1, maxLength: 128, pattern: "^\\S+$" }
        expectedGapVersion: { type: [integer, "null"], minimum: 0 }
        auditNote: { type: [string, "null"], maxLength: 280 }
        environmentConfirmation: { type: [string, "null"] }

    GapCauseAssessment:
      type: object
      additionalProperties: false
      required: [title, confidence, summary, evidenceIds, limitations]
      properties:
        title: { type: string }
        confidence: { type: string, enum: [high, medium, low, insufficient] }
        summary: { type: string }
        evidenceIds: { type: array, items: { type: string } }
        limitations: { type: array, items: { type: string } }

    GapInvestigationEvidence:
      type: object
      additionalProperties: false
      required: [id, kind, occurredAt, service, title, detail, attributes]
      properties:
        id: { type: string }
        kind: { type: string, enum: [gap, stream, indexing, service, alert, trace] }
        occurredAt: { type: string, format: date-time }
        service: { type: string }
        title: { type: string }
        detail: { type: string }
        attributes:
          type: object
          additionalProperties: { type: string }
        traceId: { type: [string, "null"] }

    GapInvestigation:
      type: object
      additionalProperties: false
      required: [gap, windowStart, windowEnd, assessment, evidence, recommendedActions]
      properties:
        gap: { $ref: "#/components/schemas/IngestionGap" }
        windowStart: { type: string, format: date-time }
        windowEnd: { type: string, format: date-time }
        assessment: { $ref: "#/components/schemas/GapCauseAssessment" }
        evidence:
          type: array
          items: { $ref: "#/components/schemas/GapInvestigationEvidence" }
        recommendedActions: { type: array, items: { type: string } }

    OperationsServiceListResponse:
      type: object
      additionalProperties: false
      required: [services, evidence]
      properties:
        services:
          type: array
          items: { $ref: "#/components/schemas/OperationsServiceState" }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    OperationsIngestionResponse:
      type: object
      additionalProperties: false
      required: [sources, evidence]
      properties:
        state:
          anyOf:
            - { $ref: "#/components/schemas/IngestionStreamState" }
            - { type: "null" }
        sources:
          type: array
          items: { $ref: "#/components/schemas/IngestionStreamState" }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    OperationsAppViewResponse:
      type: object
      additionalProperties: false
      required: [services, evidence]
      properties:
        services:
          type: array
          items: { $ref: "#/components/schemas/OperationsServiceState" }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    EndpointPage:
      type: object
      additionalProperties: false
      required: [endpoints, totalCount, evidence]
      properties:
        endpoints:
          type: array
          items: { $ref: "#/components/schemas/JetstreamEndpointState" }
        nextCursor: { type: [string, "null"] }
        totalCount: { type: integer, minimum: 0 }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    CommandPage:
      type: object
      additionalProperties: false
      required: [commands, totalCount, evidence]
      properties:
        commands:
          type: array
          items: { $ref: "#/components/schemas/OperationsCommand" }
        nextCursor: { type: [string, "null"] }
        totalCount: { type: integer, minimum: 0 }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    GapPage:
      type: object
      additionalProperties: false
      required: [gaps, totalCount, evidence]
      properties:
        gaps:
          type: array
          items: { $ref: "#/components/schemas/IngestionGap" }
        nextCursor: { type: [string, "null"] }
        totalCount: { type: integer, minimum: 0 }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    BackfillPage:
      type: object
      additionalProperties: false
      required: [backfills, totalCount, evidence]
      properties:
        backfills:
          type: array
          items: { $ref: "#/components/schemas/BackfillJob" }
        nextCursor: { type: [string, "null"] }
        totalCount: { type: integer, minimum: 0 }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    AlertPage:
      type: object
      additionalProperties: false
      required: [alerts, totalCount, evidence]
      properties:
        alerts:
          type: array
          items: { $ref: "#/components/schemas/OperationsAlert" }
        nextCursor: { type: [string, "null"] }
        totalCount: { type: integer, minimum: 0 }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    OperationsMetricsResponse:
      type: object
      additionalProperties: false
      required: [rollups, evidence]
      properties:
        rollups:
          type: array
          description: Closed one-minute buckets only; absent buckets are not synthesized as zero.
          items: { $ref: "#/components/schemas/OperationsMetricRollup" }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

    TracePage:
      type: object
      additionalProperties: false
      required: [traces, totalCount, truncated, evidence]
      properties:
        traces:
          type: array
          items: { $ref: "#/components/schemas/TraceSpan" }
        nextCursor: { type: [string, "null"] }
        totalCount: { type: integer, minimum: 0 }
        truncated: { type: boolean }
        evidence: { $ref: "#/components/schemas/OperationsEvidenceMetadata" }

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Must exactly match the request body's idempotencyKey value.
      schema:
        type: string
        minLength: 1
        maxLength: 128
        pattern: "^\\S+$"

  responses:
    Unauthorized:
      description: Missing/invalid bearer token **or** DPoP mismatch.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequest:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated DID is not authorized for this environment.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: The requested state transition is illegal or overlaps active work.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: The bounded recovery or diagnostic rate limit has been reached.
      headers:
        Retry-After:
          schema: { type: string }
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: The required capability or dependency is unavailable.
      headers:
        Retry-After:
          schema: { type: string }
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - ATProtoOAuthDPoP: []

# ── Paths ─────────────────────────────────────────────────────────────────────

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns 200 if the service is up. No authentication required.
      security: []
      tags: [Health]
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /livez:
    get:
      operationId: livenessCheck
      summary: Process liveness
      security: []
      tags: [Health]
      responses:
        "200": { description: Process is live. }

  /readyz:
    get:
      operationId: readinessCheck
      summary: Dependency readiness
      security: []
      tags: [Health]
      responses:
        "200": { description: Required dependencies are ready. }
        "503": { description: A required dependency is unavailable. }

  /freshness:
    get:
      operationId: freshnessCheck
      summary: Data freshness and completeness
      security: []
      tags: [Health]
      responses:
        "200": { description: Freshness state; degradation does not necessarily remove AppView from rotation. }

  /oauth-client-metadata.json:
    get:
      operationId: getOAuthWebClientMetadata
      summary: Web OAuth discoverable metadata
      description: |
        Same semantic fields as [`apps/web/public/client-metadata.json`](/apps/web/public/client-metadata.json).
        Hosted at the conventional OAuth client metadata path.
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: "Web client registration JSON (`application_type: web`)."
          content:
            application/json:
              schema:
                type: object

  /oauth/client-metadata.json:
    get:
      operationId: getOAuthWebClientMetadataLegacy
      summary: Legacy web OAuth discoverable metadata alias
      description: |
        Backward-compatible alias for `/oauth-client-metadata.json`.
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: "Web client registration JSON (`application_type: web`)."
          content:
            application/json:
              schema:
                type: object

  /ios-client-metadata.json:
    get:
      operationId: getOAuthIosClientMetadata
      summary: Native ATS OAuth metadata
      description: Mirrors [`apps/web/public/ios-client-metadata.json`](/apps/web/public/ios-client-metadata.json).
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: "Native client registration JSON (`application_type: native`)."
          content:
            application/json:
              schema:
                type: object

  /operations-oauth-client-metadata.json:
    get:
      operationId: getOAuthOperationsClientMetadata
      summary: Operations console OAuth metadata
      description: Public identity-only OAuth metadata for the deployment-protected Operations console.
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: "Operations web client registration JSON (`scope: atproto`)."
          content:
            application/json:
              schema:
                type: object

  /v1/sync/preferences:
    get:
      operationId: getPreferencesEnvelope
      summary: Canonical `app.thesocialwire.preferences` envelope
      description: |
        Proxies cached `repo.getRecord` results for lexical `preferences` keyed by DID (token `sub`).
        Supports `If-None-Match` using the lexical `cid` as the weak validator when available.
      tags: [Sync]
      parameters:
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Optional revision token echoed from earlier `etag` payload.
      responses:
        "200":
          description: Preferences lexical record plus metadata.
          content:
            application/json:
              schema:
                type: object
                required: [record, etag, cid, revision, cachedAt]
                properties:
                  record:
                    type: object
                    description: Serialized `preferences` lexical `value` subtree.
                  etag:
                    type: string
                    nullable: true
                  cid:
                    type: string
                    nullable: true
                  revision:
                    type: string
                    nullable: true
                  cachedAt:
                    type: string
                    format: date-time
        "304":
          description: Matches `If-None-Match` against stored revision.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          $ref: "#/components/responses/InternalError"

  /v1/pds/cache/record:
    get:
      operationId: getCachedRepoRecordBlob
      summary: Cached repo record JSON by collection + `rkey`
      description: |
        Generic short TTL accelerator for deterministic single-record reads (collection+rkey scopes).
      tags: [Sync]
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            type: string
        - name: rkey
          in: query
          required: true
          schema:
            type: string
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        "200":
          description: Serialized `repo.getRecord` blob (matching upstream JSON).
          content:
            application/json:
              schema:
                type: object
        "304":
          description: Stored revision unchanged for supplied `If-None-Match`.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Publication sidebar projection ────────────────────────────────────────

  /v1/publications/sidebar:
    get:
      operationId: getPublicationSidebar
      summary: Unified subscribed/following publication sidebar projection
      description: |
        Merges follow-graph discovery, graph subscriptions, Skyreader RSS rows,
        orphan subscription hydration, folder prefs, and per-publication AppView scope keys.

        Use `phase=priority` for folders plus unfoldered/following publications (fast first paint),
        then `phase=folderPublications` for folder contents (reuses a short-lived server discovery cache),
        and fetch unread badges separately via `/v1/appview/unread-counts`.
      tags: [Publications]
      parameters:
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [full, priority, folderPublications]
          description: |
            `priority` returns folder shells and top-level publications without folder contents.
            `folderPublications` returns folder section publications (after a recent `priority` call).
            Default `full` returns the complete sidebar in one response.
      responses:
        "200":
          description: Sidebar projection for the authenticated viewer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicationSidebarResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/refresh:
    post:
      operationId: refreshPublicationSidebar
      summary: Recompute publication sidebar projection
      tags: [Publications]
      responses:
        "200":
          description: Refreshed sidebar projection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicationSidebarResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/resolve:
    post:
      operationId: resolveAddPublication
      summary: Resolve a link into a standard.site publication or RSS feed target
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input:
                  type: string
      responses:
        "200":
          description: Resolver outcome.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveAddPublicationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/folders:
    post:
      operationId: createPublicationFolder
      summary: Create a folder on the viewer PDS (gateway write-through)
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                sortOrder:
                  type: integer
      responses:
        "201":
          description: Folder created.
          content:
            application/json:
              schema:
                type: object
                required: [uri, rkey]
                properties:
                  uri:
                    type: string
                  rkey:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/folders/{rkey}:
    put:
      operationId: updatePublicationFolder
      summary: Update a folder record
      tags: [Publications]
      parameters:
        - name: rkey
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Folder updated.
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deletePublicationFolder
      summary: Delete a folder record
      tags: [Publications]
      parameters:
        - name: rkey
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Folder deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/prefs:
    put:
      operationId: upsertPublicationPrefs
      summary: Upsert publication preferences
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publicationId]
              properties:
                publicationId:
                  type: string
                folderId:
                  type: string
                  nullable: true
                sortOrder:
                  type: integer
                hidden:
                  type: boolean
                existingRkey:
                  type: string
      responses:
        "200":
          description: Preferences upserted.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/subscriptions:
    post:
      operationId: createPublicationSubscription
      summary: Subscribe to a standard.site publication
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publication]
              properties:
                publication:
                  type: string
      responses:
        "201":
          description: Subscription created.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/rss-subscriptions:
    post:
      operationId: createRssSubscription
      summary: Subscribe to an RSS feed
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedUrl]
              properties:
                feedUrl:
                  type: string
                title:
                  type: string
                siteUrl:
                  type: string
      responses:
        "201":
          description: RSS subscription created.
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Thin AppView (GDPR-safe Level-1 read index) ───────────────────────────

  /v1/appview/bootstrap-stream:
    get:
      operationId: getAppViewBootstrapStream
      summary: Progressive NDJSON bootstrap for initial reader load
      description: |
        **`ENABLE_THIN_APPVIEW` must be `true`** or this route responds `404`.

        Streams newline-delimited JSON events as sidebar projection, per-section sidebar
        slices, unread counts, first-unread publication selection, first feed page, and
        legacy folder rows complete.
        Gateway forwards the AppView body without buffering when proxied.

        Event kinds (one JSON object per line): `sidebarPriority`, `sidebarSection`,
        `unreadCounts`, `selectedPublication`, `entriesPage`, `sidebarFolders`, `warning`,
        `error`, `done`. New clients should prefer `sidebarSection` over monolithic
        `sidebarFolders` during the migration.

        `sidebarSection` payload:
        `{ sectionKey, folderRkey?, folderUri?, publications, unreadCounts?, replacePublicationIds?, refreshedAt, sectionGeneration? }`.

        `unreadCounts` payload:
        `{ counts, replacePublicationIds?, generation?, accuracy?, countedAt? }`. Clients should apply
        newer generations only; `exact` counts may replace same-generation `estimated` counts.

        `entriesPage` payload:
        `{ publicationId, entries, cursor?, source, cachedAt?, expiresAt? }`, where `source` is
        `live_projection`, `projection_cache`, or `unavailable`. Cached pages always retain the
        original `cachedAt` and `expiresAt`; clients must reject cached payloads without both.
        The `done.source` value is the least-current source emitted by the stream, so a cached or
        unavailable entries page cannot be reported as a wholly live bootstrap.
      tags: [AppView]
      responses:
        "200":
          description: NDJSON event stream.
          content:
            application/x-ndjson:
              schema:
                type: string
                description: Newline-delimited `BootstrapStreamEvent` JSON objects.
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-cache`.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/entries:
    get:
      operationId: listAppViewEntries
      summary: Paginated entry timeline from the thin AppView index
      description: |
        **`ENABLE_THIN_APPVIEW` must be `true`** or this route responds `404`.

        Returns Level-1 list rows (title, publishedAt, summary, thumbnail refs) for
        `standard.site` entry collections. Full entry bodies remain on the author PDS.
        Unread filtering joins the viewer's mirrored `read_marks` replica.
      tags: [AppView]
      parameters:
        - name: authorDid
          in: query
          required: true
          schema:
            type: string
          description: Author repo DID whose entries to list.
        - name: publicationAtUri
          in: query
          schema:
            type: string
          description: Optional publication AT-URI for `site` field scoping.
        - name: publicationScopeAtUris
          in: query
          schema:
            type: string
          description: Comma-separated sibling publication AT-URIs for scoped listing.
        - name: publicationSiteUrls
          in: query
          schema:
            type: string
          description: Comma-separated HTTPS site URL keys for scoped listing.
        - name: filter
          in: query
          schema:
            type: string
            enum: [all, unread, read]
            default: all
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Page size for a single response, or the internal page size when `maxEntries` is set.
        - name: maxEntries
          in: query
          schema:
            type: integer
            maximum: 500
          description: |
            When set, AppView aggregates multiple timeline pages server-side and returns up to
            this many entries in one response. The client `cursor` is ignored. The response
            `cursor` is present only when more entries remain beyond `maxEntries`.
      responses:
        "200":
          description: Entry list page.
          content:
            application/json:
              schema:
                type: object
                required: [entries]
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/EntryListItem"
                  cursor:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/read-marks:
    post:
      operationId: upsertAppViewReadMark
      summary: Write-through read mark after PDS upsert
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
                readAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Read mark upserted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.
    delete:
      operationId: deleteAppViewReadMark
      summary: Write-through unread (delete read mark)
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
      responses:
        "200":
          description: Read mark deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/enroll:
    post:
      operationId: enrollAppViewAuthors
      summary: Backfill recent entries for followed author DIDs
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [authorDids]
              properties:
                authorDids:
                  type: array
                  items:
                    type: string
                  maxItems: 500
      responses:
        "200":
          description: Backfill completed.
          content:
            application/json:
              schema:
                type: object
                required: [indexed]
                properties:
                  indexed:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/entry:
    get:
      operationId: getAppViewEntryDetail
      summary: Entry detail from the AppView index
      tags: [AppView]
      parameters:
        - name: entryId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Entry detail row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Entry not found in index.

  /v1/appview/unread-counts:
    get:
      operationId: getAppViewUnreadCounts
      summary: Unread counts by publication or scope
      tags: [AppView]
      parameters:
        - name: publicationIds
          in: query
          schema:
            type: string
          description: Comma-separated publication ids.
        - name: authorDid
          in: query
          schema:
            type: string
        - name: publicationAtUri
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Unread count snapshot.
          content:
            application/json:
              schema:
                type: object
                required: [counts]
                properties:
                  counts:
                    type: object
                    additionalProperties:
                      type: integer
                  generation:
                    type: integer
                    format: int64
                  accuracy:
                    type: string
                    enum: [estimated, exact]
                  countedAt:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/appview/mark-all-read:
    post:
      operationId: markAllReadScoped
      summary: Mark all unread entries read for a sidebar scope
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scope]
              properties:
                scope:
                  type: object
                  required: [kind]
                  properties:
                    kind:
                      type: string
                      enum: [publication, folder, subscribed, following]
                    publicationId:
                      type: string
                    folderRkey:
                      type: string
      responses:
        "200":
          description: Scoped mark-all-read completed.
          content:
            application/json:
              schema:
                type: object
                required: [marked]
                properties:
                  marked:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/appview/privacy/purge:
    delete:
      operationId: purgeAppViewPrivacyData
      summary: Delete all indexed read marks for the authenticated viewer
      tags: [AppView]
      responses:
        "200":
          description: Viewer data purged from the index.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  # ── L@tr read-later proxy (Social Wire Gateway iOS proxy) ─────────────────

  /v1/latr/saves:
    get:
      operationId: listLatrSaves
      summary: List L@tr saved items with gateway enrichment
      description: |
        Proxies to the external L@tr Gateway for native iOS clients. Requires viewer OAuth DPoP on this host,
        `X-Latr-Gateway-DPoP` bound to the upstream L@tr URL, and optional
        `X-ATProto-Upstream-DPoP` for PDS listRecords write-through.
        Server injects L@tr credentials from `LATR_IOS_PROXY_*` Fly/runtime secrets (distinct from web
        Vercel `LATR_GATEWAY_*`); clients must not ship API keys.
      tags: [Latr]
      responses:
        "200":
          description: Saved item records with preview enrichment.
          content:
            application/json:
              schema:
                type: object
                required: [records]
                properties:
                  records:
                    type: array
                    items:
                      type: object
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: L@tr iOS proxy credentials (`LATR_IOS_PROXY_*`) not configured on this host.
    post:
      operationId: createLatrSave
      summary: Save a URL or native subject via L@tr Gateway
      tags: [Latr]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Save created.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: L@tr iOS proxy credentials (`LATR_IOS_PROXY_*`) not configured on this host.

  /v1/latr/saves/{rkey}/state:
    patch:
      operationId: patchLatrSaveState
      summary: Archive or unarchive a saved item
      tags: [Latr]
      parameters:
        - name: rkey
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [archived, unread]
      responses:
        "200":
          description: State updated.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: L@tr iOS proxy credentials (`LATR_IOS_PROXY_*`) not configured on this host.

  /v1/latr/saves/{rkey}:
    delete:
      operationId: deleteLatrSave
      summary: Delete a saved item
      tags: [Latr]
      parameters:
        - name: rkey
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: L@tr iOS proxy credentials (`LATR_IOS_PROXY_*`) not configured on this host.

  /v1/latr/og-preview:
    get:
      operationId: getLatrOgPreview
      summary: Fetch OG preview metadata for a URL
      tags: [Latr]
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Preview metadata.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: L@tr iOS proxy credentials (`LATR_IOS_PROXY_*`) not configured on this host.

  /v1/operations/overview:
    get:
      operationId: getOperationsOverview
      summary: Lightweight evidence-backed operator overview
      tags: [Operations]
      responses:
        "200":
          description: Current service evidence, capabilities, and lifecycle counts with bounded active previews.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsOverview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/capabilities:
    get:
      operationId: getOperationsCapabilities
      summary: Read environment-specific telemetry, recovery, and alert-delivery capabilities
      tags: [Operations]
      responses:
        "200":
          description: Machine-readable capability flags and truthful disabled reasons.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsCapabilities" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/metrics:
    get:
      operationId: getOperationsMetrics
      summary: Query bounded closed one-minute metric buckets
      tags: [Operations]
      parameters:
        - { name: from, in: query, required: true, schema: { type: string, format: date-time } }
        - { name: to, in: query, required: true, schema: { type: string, format: date-time } }
        - name: metric
          in: query
          required: false
          schema: { type: string }
          description: Optional stable metric name; arbitrary SQL or route strings are never accepted.
        - name: collection
          in: query
          required: false
          schema: { type: string, maxLength: 256 }
        - name: resolution
          in: query
          required: true
          schema: { type: string, const: 1m }
      responses:
        "200":
          description: Real metric rollups and their evidence envelope.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsMetricsResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/events/stream:
    get:
      operationId: streamOperationsEvents
      summary: Resume the authenticated Operations change stream
      tags: [Operations]
      parameters:
        - name: after
          in: query
          required: false
          schema: { type: integer, format: int64, minimum: 0 }
          description: Last-seen durable Operations change-event cursor.
        - name: Last-Event-ID
          in: header
          required: false
          schema: { type: integer, format: int64, minimum: 0 }
      responses:
        "200":
          description: Server-sent service, ingestion, job, gap, alert, command, and capability changes.
          headers:
            Cache-Control:
              schema: { type: string, const: no-cache }
          content:
            text/event-stream:
              schema: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "410":
          description: Resume cursor fell outside retained event history; refetch the visible route.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/services:
    get:
      operationId: getOperationsServices
      summary: Service health states
      tags: [Operations]
      responses:
        "200":
          description: Service heartbeat and successful dependency probe states. Expired evidence is Unknown.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsServiceListResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/ingestion:
    get:
      operationId: getOperationsIngestion
      summary: Source-separated ingestion state
      tags: [Operations]
      responses:
        "200":
          description: Tap, Jetstream, RSS, and projection-repair observations without blending trust boundaries.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsIngestionResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/ingestion/endpoints:
    get:
      operationId: listOperationsIngestionEndpoints
      summary: List observed ingestion endpoint states
      tags: [Operations]
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 250, default: 100 }
        - { name: before, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Environment-scoped endpoint state page with observed transport evidence.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EndpointPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/commands:
    get:
      operationId: listOperationsCommands
      summary: List durable operator commands
      tags: [Operations]
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 250, default: 100 }
        - { name: before, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Environment-scoped command page with durable status and outcome evidence.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CommandPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/ingestion/reconnect:
    post:
      operationId: reconnectOperationsJetstream
      summary: Queue an audited Jetstream reconnect and required post-connect gap assessment
      tags: [Operations]
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "202":
          description: Reconnect command accepted; completion requires transport connection, progress, and gap assessment.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsCommand" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/appview:
    get:
      operationId: getOperationsAppView
      summary: AppView operational state
      tags: [Operations]
      responses:
        "200":
          description: Current AppView and gateway service heartbeat evidence.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsAppViewResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/gaps:
    get:
      operationId: listOperationsGaps
      summary: List ingestion gaps
      tags: [Operations]
      parameters:
        - name: view
          in: query
          required: false
          schema: { type: string, enum: [active, history, all], default: active }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 250, default: 100 }
        - { name: before, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Environment-scoped gap page. Active excludes resolved and ignored before the SQL limit.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GapPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/gaps/{id}:
    patch:
      operationId: updateOperationsGap
      summary: Update a gap lifecycle status
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GapMutationRequest" }
      responses:
        "200":
          description: Updated gap after a legal compare-and-set transition.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IngestionGap" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/gaps/{id}/investigation:
    get:
      operationId: investigateOperationsGap
      summary: Correlate retained operational evidence around an ingestion gap
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Qualified cause assessment, evidence timeline, limitations, and next checks.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GapInvestigation" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/operations/backfills/dry-run:
    post:
      operationId: dryRunOperationsBackfill
      summary: Estimate a bounded recovery job
      tags: [Operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BackfillDryRunRequest" }
      responses:
        "200":
          description: Observed scope or explicitly modeled estimate, uncertainty, conflicts, and signed short-lived fingerprint.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillDryRunResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/backfills:
    get:
      operationId: listOperationsBackfills
      summary: List recovery jobs
      tags: [Operations]
      parameters:
        - name: view
          in: query
          required: false
          schema: { type: string, enum: [active, needs_attention, history, all], default: active }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 250, default: 100 }
        - { name: before, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Lifecycle-filtered recovery jobs, filtered before the SQL limit.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      operationId: createOperationsBackfill
      summary: Queue a dry-run-confirmed recovery job
      tags: [Operations]
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateBackfillRequest" }
      responses:
        "201":
          description: Job, gap link, and audit record created atomically.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillJob" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/backfills/{id}:
    get:
      operationId: getOperationsBackfill
      summary: Get one recovery job
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Recovery job, truthful progress, and durable checkpoint.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillJob" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/operations/backfills/{id}/pause:
    post:
      operationId: pauseOperationsBackfill
      summary: Pause between recovery batches
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "200":
          description: Paused recovery job after the current committed batch.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillJob" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/backfills/{id}/resume:
    post:
      operationId: resumeOperationsBackfill
      summary: Resume from the durable checkpoint
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "200":
          description: Requeued recovery job from its last successfully committed event.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillJob" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/backfills/{id}/cancel:
    post:
      operationId: cancelOperationsBackfill
      summary: Cancel between recovery batches
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "200":
          description: Cancelled recovery job; any linked gap is returned to an actionable state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BackfillJob" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/alerts:
    get:
      operationId: listOperationsAlerts
      summary: List persisted alerts and delivery state
      tags: [Operations]
      parameters:
        - name: view
          in: query
          required: false
          schema: { type: string, enum: [active, history, all], default: active }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 250, default: 100 }
        - { name: before, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Condition-keyed, environment-scoped alert lifecycle page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AlertPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/alerts/{id}/acknowledge:
    post:
      operationId: acknowledgeOperationsAlert
      summary: Acknowledge an alert
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "200":
          description: Acknowledged alert after a legal compare-and-set transition.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsAlert" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/operations/alerts/{id}/resolve:
    post:
      operationId: resolveOperationsAlert
      summary: Resolve an alert
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "200":
          description: Resolved alert after a legal compare-and-set transition.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsAlert" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/operations/alerts/{id}/retry:
    post:
      operationId: retryOperationsAlertDelivery
      summary: Retry delivery for a failed or dead-lettered alert
      tags: [Operations]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OperationsMutationRequest" }
      responses:
        "202":
          description: Alert delivery retry queued with bounded backoff state reset.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationsAlert" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /v1/operations/traces:
    get:
      operationId: listOperationsTraces
      summary: Filter sampled traces
      tags: [Operations]
      parameters:
        - { name: from, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: to, in: query, required: false, schema: { type: string, format: date-time } }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - { name: before, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Environment-scoped sampled successes and retained errors.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TracePage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/operations/traces/{traceId}:
    get:
      operationId: getOperationsTrace
      summary: Get one correlated trace
      tags: [Operations]
      parameters:
        - { name: traceId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Correlated trace spans.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TracePage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

tags:
  - name: Health
    description: Service health
  - name: OAuth
    description: Discoverable client metadata for tunnel + hosted API origins
  - name: Sync
    description: Protected ATProto-backed reader accelerators
  - name: Publications
    description: Unified sidebar projection, resolver, and gateway write-through
  - name: AppView
    description: GDPR-safe Level-1 entry index gated behind `ENABLE_THIN_APPVIEW`
  - name: Latr
    description: Authenticated L@tr read-later iOS proxy (`LATR_IOS_PROXY_*` server credentials)
  - name: Operations
    description: Operator-DID-allowlisted observability and recovery control plane
