openapi: "3.1.0"

info:
  title: The Social Wire API
  description: |
    Lightweight Swift **Social Wire gateway** that ships beside the Next.js web app:

    - **OAuth client metadata** mirroring SPA + ATS clients (`/oauth/client-metadata.json`, `/ios-client-metadata.json`) with scopes sourced from **`ATProtoOAuthScopes`** so tunnel or Fly deployments expose stable discovery URLs.

    - **Authenticated sync accelerators**: `Authorization: Bearer` or `Authorization: DPoP` access JWTs forwarded to ATProto repos, guarded by cryptographic JWKS verification **and** a mandatory RFC 9449 `DPoP` proof binding (`cnf.jkt` enforced when emitted by the issuer).

    - **Performance caches**: short TTL blobs in **`pds_repo_record_cache`** (`Supabase`/SQLite); legacy **`discovery_cache` / `entry_cache`** persist only behind **`ENABLE_LEGACY_CONTENT_API`**.

    - **Thin AppView (optional)**: Level-1 entry index + read-mark replica at **`/v1/appview/*`** when **`ENABLE_THIN_APPVIEW`** is on; ingested by a separate **`App worker`** process from Jetstream.

    LATRHTTPS merge APIs deliberately stay out—continue using the hosted web helpers for LATR flows.

    **Feature flags:** `ENABLE_LEGACY_CONTENT_API` re-registers legacy `/discovery/**`, `/publications/**`, `/entries/**`. `ENABLE_THIN_APPVIEW` registers `/v1/appview/**`.
  version: "1.0.0"
  contact:
    name: Stygian Tech
    url: https://github.com/Stygian-Tech

servers:
  - url: https://api.thesocialwire.com
    description: Production
  - url: https://api-dev.thesocialwire.com
    description: Development
  - url: http://localhost:8080
    description: Local

# ── Security ──────────────────────────────────────────────────────────────────

components:
  securitySchemes:
    ATProtoOAuthDPoP:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        ATProto access JWT (`Authorization: Bearer` or `Authorization: DPoP` prefix extracting the JWT).
        The gateway resolves issuer metadata to JWKS before trusting `sub`.

        **`DPoP` header**: supply `DPoP: <jwt proof>` whose **`ath`** claim covers the ASCII access JWT and whose **`cnf`** hash matches **`cnf.jkt`** whenever the issuer embeds confirmation.

        **Hosted infra (first-party only):** when `OAUTH_GATEWAY_REQUIRE_KNOWN_CLIENT` is enabled server-side,
        callers must present JWT claims compatible with **`OAUTH_GATEWAY_ALLOWED_CLIENT_IDS`**
        (typically **`client_id`** / **`azp`**) **and/or** **`OAUTH_GATEWAY_ALLOWED_AUDIENCES`**.
        Operators who **self-host** this gateway configure their own allowlists; arbitrary third-party OAuth
        apps should not rely on Social Wire production API hosts without an explicit arrangement.

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: Unauthorized
        message:
          type: string
          description: Human-readable error description.
          example: Unauthorized — invalid ATProto JWT or malformed DPoP proof.

    DiscoveredPublication:
      type: object
      required: [publicationId, authorDid, title, discoveredAt]
      properties:
        publicationId:
          type: string
          description: at-uri or canonical URL identifying the publication.
          example: "at://did:plc:abc123/com.example.publication/main"
        authorDid:
          type: string
          description: DID of the account that owns this publication.
          example: "did:plc:abc123"
        authorHandle:
          type: string
          description: Bluesky handle of the author (best-effort, may lag).
          example: "alice.bsky.social"
        title:
          type: string
          description: Display name of the publication.
          example: "Alice's Tech Blog"
        avatarUrl:
          type: string
          format: uri
          description: Publication avatar / author avatar URL.
        discoveredAt:
          type: string
          format: date-time
          description: When this publication was last confirmed in the cache.

    EntryListItem:
      type: object
      required: [entryId, title, publishedAt]
      properties:
        entryId:
          type: string
          description: at-uri identifying this entry.
          example: "at://did:plc:abc123/com.example.entry/3jxx"
        title:
          type: string
          example: "Hello, World"
        summary:
          type: string
          description: Short excerpt or subtitle.
        publishedAt:
          type: string
          format: date-time
        isRead:
          type: boolean
          default: false

    EntryDetail:
      type: object
      required: [entryId, title, publishedAt, contentHtml]
      properties:
        entryId:
          type: string
        title:
          type: string
        publishedAt:
          type: string
          format: date-time
        contentHtml:
          type: string
          description: |
            Sanitized HTML content of the entry. Scripts and unsafe attributes have
            been stripped. Images are allowed with validated URLs.
        originalUrl:
          type: string
          format: uri
          description: Link to the original entry on standard.site.

    CursorPage:
      type: object
      properties:
        cursor:
          type: string
          description: Opaque pagination cursor. Pass to the next request to get the next page. Absent on the last page.

  responses:
    Unauthorized:
      description: Missing/invalid bearer token **or** DPoP mismatch.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - ATProtoOAuthDPoP: []

# ── Paths ─────────────────────────────────────────────────────────────────────

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns 200 if the service is up. No authentication required.
      security: []
      tags: [Health]
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /oauth/client-metadata.json:
    get:
      operationId: getOAuthWebClientMetadata
      summary: Web OAuth discoverable metadata
      description: |
        Same semantic fields as [`apps/web/public/client-metadata.json`](/apps/web/public/client-metadata.json).
        Hosted under `/oauth/` so multiple metadata documents can coexist on one origin.
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: Web client registration JSON (`application_type: web`).
          content:
            application/json:
              schema:
                type: object

  /ios-client-metadata.json:
    get:
      operationId: getOAuthIosClientMetadata
      summary: Native ATS OAuth metadata
      description: Mirrors [`apps/web/public/ios-client-metadata.json`](/apps/web/public/ios-client-metadata.json).
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: Native client registration JSON (`application_type: native`).
          content:
            application/json:
              schema:
                type: object

  /v1/sync/preferences:
    get:
      operationId: getPreferencesEnvelope
      summary: Canonical `com.thesocialwire.preferences` envelope
      description: |
        Proxies cached `repo.getRecord` results for lexical `preferences` keyed by DID (token `sub`).
        Supports `If-None-Match` using the lexical `cid` as the weak validator when available.
      tags: [Sync]
      parameters:
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Optional revision token echoed from earlier `etag` payload.
      responses:
        "200":
          description: Preferences lexical record plus metadata.
          content:
            application/json:
              schema:
                type: object
                required: [record, etag, cid, revision, cachedAt]
                properties:
                  record:
                    type: object
                    description: Serialized `preferences` lexical `value` subtree.
                  etag:
                    type: string
                    nullable: true
                  cid:
                    type: string
                    nullable: true
                  revision:
                    type: string
                    nullable: true
                  cachedAt:
                    type: string
                    format: date-time
        "304":
          description: Matches `If-None-Match` against stored revision.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          $ref: "#/components/responses/InternalError"

  /v1/pds/cache/record:
    get:
      operationId: getCachedRepoRecordBlob
      summary: Cached repo record JSON by collection + `rkey`
      description: |
        Generic short TTL accelerator for deterministic single-record reads (collection+rkey scopes).
      tags: [Sync]
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            type: string
        - name: rkey
          in: query
          required: true
          schema:
            type: string
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        "200":
          description: Serialized `repo.getRecord` blob (matching upstream JSON).
          content:
            application/json:
              schema:
                type: object
        "304":
          description: Stored revision unchanged for supplied `If-None-Match`.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Thin AppView (GDPR-safe Level-1 read index) ───────────────────────────

  /v1/appview/entries:
    get:
      operationId: listAppViewEntries
      summary: Paginated entry timeline from the thin AppView index
      description: |
        **`ENABLE_THIN_APPVIEW` must be `true`** or this route responds `404`.

        Returns Level-1 list rows (title, publishedAt, summary, thumbnail refs) for
        `standard.site` entry collections. Full entry bodies remain on the author PDS.
        Unread filtering joins the viewer's mirrored `read_marks` replica.
      tags: [AppView]
      parameters:
        - name: authorDid
          in: query
          required: true
          schema:
            type: string
          description: Author repo DID whose entries to list.
        - name: publicationAtUri
          in: query
          schema:
            type: string
          description: Optional publication AT-URI for `site` field scoping.
        - name: filter
          in: query
          schema:
            type: string
            enum: [all, unread, read]
            default: all
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Entry list page.
          content:
            application/json:
              schema:
                type: object
                required: [entries]
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/EntryListItem"
                  cursor:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/read-marks:
    post:
      operationId: upsertAppViewReadMark
      summary: Write-through read mark after PDS upsert
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
                readAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Read mark upserted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.
    delete:
      operationId: deleteAppViewReadMark
      summary: Write-through unread (delete read mark)
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
      responses:
        "200":
          description: Read mark deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/enroll:
    post:
      operationId: enrollAppViewAuthors
      summary: Backfill recent entries for followed author DIDs
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [authorDids]
              properties:
                authorDids:
                  type: array
                  items:
                    type: string
                  maxItems: 500
      responses:
        "200":
          description: Backfill completed.
          content:
            application/json:
              schema:
                type: object
                required: [indexed]
                properties:
                  indexed:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/privacy/purge:
    delete:
      operationId: purgeAppViewPrivacyData
      summary: Delete all indexed read marks for the authenticated viewer
      tags: [AppView]
      responses:
        "200":
          description: Viewer data purged from the index.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  # ── Discovery ──────────────────────────────────────────────────────────────

  /discovery/refresh:
    post:
      operationId: refreshDiscovery
      summary: Refresh publication discovery
      description: |
        **`ENABLE_LEGACY_CONTENT_API` must be `true`** or this route responds `404`.

        Triggers a re-scan of the authenticated user's follow graph to find
        standard.site publications. Results are stored in the discovery cache.

        This is an async operation — the endpoint returns immediately with a job
        status. The client should poll `GET /discovery/{userDid}` to get results.
      tags: [Discovery]
      responses:
        "202":
          description: Discovery refresh accepted and running.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [accepted]
                  message:
                    type: string
                    example: "Discovery refresh started. Poll GET /discovery/{did} for results."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when legacy flag is unset.
        "500":
          $ref: "#/components/responses/InternalError"

  /discovery/{userDid}:
    get:
      operationId: getDiscovery
      summary: Get cached discovery results
      description: |
        **`ENABLE_LEGACY_CONTENT_API` must be `true`** or this handler is not wired.

        Returns the cached list of standard.site publications discovered from
        the given user's follow graph. The caller must be authenticated as the
        user identified by `userDid`.
      tags: [Discovery]
      parameters:
        - name: userDid
          in: path
          required: true
          schema:
            type: string
          description: The DID of the user whose discovery results to return.
          example: "did:plc:abc123"
      responses:
        "200":
          description: Cached discovery results.
          content:
            application/json:
              schema:
                type: object
                required: [publications]
                properties:
                  publications:
                    type: array
                    items:
                      $ref: "#/components/schemas/DiscoveredPublication"
                  lastRefreshedAt:
                    type: string
                    format: date-time
                    description: When the discovery cache was last populated.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Content ────────────────────────────────────────────────────────────────

  /publications/{pubId}/entries:
    get:
      operationId: getPublicationEntries
      summary: Get paginated entry list for a publication
      description: |
        **`ENABLE_LEGACY_CONTENT_API` must be `true`** or this handler is unavailable.

        Returns entries for the given publication sorted by publish time descending.
        Supports cursor-based pagination.
      tags: [Content]
      parameters:
        - name: pubId
          in: path
          required: true
          schema:
            type: string
          description: URL-encoded at-uri or canonical URL of the publication.
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor from a previous response.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of entries to return.
      responses:
        "200":
          description: Paginated entry list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CursorPage"
                  - type: object
                    required: [entries]
                    properties:
                      entries:
                        type: array
                        items:
                          $ref: "#/components/schemas/EntryListItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /entries/{entryId}:
    get:
      operationId: getEntry
      summary: Get a single entry with sanitized content
      description: |
        **`ENABLE_LEGACY_CONTENT_API` must be `true`** or this handler is unavailable.

        Returns the full content for a single entry. Content is normalized to
        safe HTML with scripts and unsafe attributes stripped.
      tags: [Content]
      parameters:
        - name: entryId
          in: path
          required: true
          schema:
            type: string
          description: URL-encoded at-uri of the entry.
      responses:
        "200":
          description: Entry detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

tags:
  - name: Health
    description: Service health
  - name: OAuth
    description: Discoverable client metadata for tunnel + hosted API origins
  - name: Sync
    description: Protected ATProto-backed reader accelerators
  - name: Discovery
    description: Follow graph scanning gated behind `ENABLE_LEGACY_CONTENT_API`
  - name: Content
    description: Entry feeds gated behind `ENABLE_LEGACY_CONTENT_API`
  - name: AppView
    description: GDPR-safe Level-1 entry index gated behind `ENABLE_THIN_APPVIEW`
