openapi: "3.1.0"

info:
  title: The Social Wire API
  description: |
    Lightweight Swift **Social Wire gateway** that ships beside the Next.js web app:

    - **OAuth client metadata** mirroring SPA + ATS clients (`/oauth/client-metadata.json`, `/ios-client-metadata.json`) with scopes sourced from **`ATProtoOAuthScopes`** so tunnel or Fly deployments expose stable discovery URLs.

    - **Authenticated sync accelerators**: `Authorization: Bearer` or `Authorization: DPoP` access JWTs forwarded to ATProto repos, guarded by cryptographic JWKS verification **and** a mandatory RFC 9449 `DPoP` proof binding (`cnf.jkt` enforced when emitted by the issuer).

    - **Performance caches**: short TTL blobs in **`pds_repo_record_cache`** (`Supabase`/SQLite).

    - **Thin AppView**: Level-1 entry index + read-mark replica at **`/v1/appview/*`** on the AppView service when **`ENABLE_THIN_APPVIEW`** is on; ingested by **`services/appview-worker`** from Jetstream.

    LATRHTTPS merge APIs deliberately stay out—continue using the hosted web helpers for LATR flows.

    **Feature flags:** `ENABLE_THIN_APPVIEW` registers `/v1/appview/**` on AppView.
  version: "1.0.0"
  contact:
    name: Stygian Tech
    url: https://github.com/Stygian-Tech

servers:
  - url: https://api.thesocialwire.com
    description: Production
  - url: https://api-dev.thesocialwire.com
    description: Development
  - url: http://localhost:8080
    description: Local

# ── Security ──────────────────────────────────────────────────────────────────

components:
  securitySchemes:
    ATProtoOAuthDPoP:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        ATProto access JWT (`Authorization: Bearer` or `Authorization: DPoP` prefix extracting the JWT).
        The gateway resolves issuer metadata to JWKS before trusting `sub`.

        **`DPoP` header**: supply `DPoP: <jwt proof>` whose **`ath`** claim covers the ASCII access JWT and whose **`cnf`** hash matches **`cnf.jkt`** whenever the issuer embeds confirmation.

        **Hosted infra (first-party only):** when `OAUTH_GATEWAY_REQUIRE_KNOWN_CLIENT` is enabled server-side,
        callers must present JWT claims compatible with **`OAUTH_GATEWAY_ALLOWED_CLIENT_IDS`**
        (typically **`client_id`** / **`azp`**) **and/or** **`OAUTH_GATEWAY_ALLOWED_AUDIENCES`**.
        Operators who **self-host** this gateway configure their own allowlists; arbitrary third-party OAuth
        apps should not rely on Social Wire production API hosts without an explicit arrangement.

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: Unauthorized
        message:
          type: string
          description: Human-readable error description.
          example: Unauthorized — invalid ATProto JWT or malformed DPoP proof.

    EntryListItem:
      type: object
      required: [entryId, title, publishedAt]
      properties:
        entryId:
          type: string
          description: at-uri identifying this entry.
          example: "at://did:plc:abc123/com.example.entry/3jxx"
        title:
          type: string
          example: "Hello, World"
        summary:
          type: string
          description: Short excerpt or subtitle.
        publishedAt:
          type: string
          format: date-time
        isRead:
          type: boolean
          default: false

    EntryDetail:
      type: object
      required: [entryId, title, publishedAt, contentHtml]
      properties:
        entryId:
          type: string
        title:
          type: string
        publishedAt:
          type: string
          format: date-time
        contentHtml:
          type: string
          description: |
            Sanitized HTML content of the entry. Scripts and unsafe attributes have
            been stripped. Images are allowed with validated URLs.
        originalUrl:
          type: string
          format: uri
          description: Link to the original entry on standard.site.

    PublicationAppViewScope:
      type: object
      required: [authorDid, publicationScopeAtUris, publicationSiteUrls]
      properties:
        authorDid:
          type: string
        publicationAtUri:
          type: string
          nullable: true
        publicationScopeAtUris:
          type: array
          items:
            type: string
        publicationSiteUrls:
          type: array
          items:
            type: string

    SidebarPublicationRow:
      type: object
      required: [publicationId, authorDid, title, discoveredAt, appViewScope]
      properties:
        publicationId:
          type: string
        subscriptionPublicationId:
          type: string
          nullable: true
        authorDid:
          type: string
        authorHandle:
          type: string
          nullable: true
        title:
          type: string
        iconUrl:
          type: string
          nullable: true
        avatarUrl:
          type: string
          nullable: true
        discoveredAt:
          type: string
          format: date-time
        unreadCount:
          type: integer
          nullable: true
        appViewScope:
          $ref: "#/components/schemas/PublicationAppViewScope"

    PublicationFolderSection:
      type: object
      required: [folderUri, folderRkey, name, publications, unreadCount]
      properties:
        folderUri:
          type: string
        folderRkey:
          type: string
        name:
          type: string
        publications:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        unreadCount:
          type: integer

    PublicationSidebarResponse:
      type: object
      required:
        - viewerDid
        - folders
        - publicationPrefs
        - folderSections
        - allPublicationRows
        - myPublications
        - subscribedUnfoldered
        - followingTabPublications
        - enrollAuthorDids
        - totalUnreadCount
        - refreshedAt
      properties:
        viewerDid:
          type: string
        folders:
          type: array
          items:
            type: object
        publicationPrefs:
          type: array
          items:
            type: object
        folderSections:
          type: array
          items:
            $ref: "#/components/schemas/PublicationFolderSection"
        allPublicationRows:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        myPublications:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        subscribedUnfoldered:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        followingTabPublications:
          type: array
          items:
            $ref: "#/components/schemas/SidebarPublicationRow"
        enrollAuthorDids:
          type: array
          items:
            type: string
        totalUnreadCount:
          type: integer
        refreshedAt:
          type: string
          format: date-time

    ResolveAddPublicationResponse:
      type: object
      properties:
        result:
          type: object
          nullable: true
        error:
          type: string
          nullable: true

    CursorPage:
      type: object
      properties:
        cursor:
          type: string
          description: Opaque pagination cursor. Pass to the next request to get the next page. Absent on the last page.

  responses:
    Unauthorized:
      description: Missing/invalid bearer token **or** DPoP mismatch.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - ATProtoOAuthDPoP: []

# ── Paths ─────────────────────────────────────────────────────────────────────

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns 200 if the service is up. No authentication required.
      security: []
      tags: [Health]
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /oauth/client-metadata.json:
    get:
      operationId: getOAuthWebClientMetadata
      summary: Web OAuth discoverable metadata
      description: |
        Same semantic fields as [`apps/web/public/client-metadata.json`](/apps/web/public/client-metadata.json).
        Hosted under `/oauth/` so multiple metadata documents can coexist on one origin.
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: Web client registration JSON (`application_type: web`).
          content:
            application/json:
              schema:
                type: object

  /ios-client-metadata.json:
    get:
      operationId: getOAuthIosClientMetadata
      summary: Native ATS OAuth metadata
      description: Mirrors [`apps/web/public/ios-client-metadata.json`](/apps/web/public/ios-client-metadata.json).
      security: []
      tags: [OAuth]
      responses:
        "200":
          description: Native client registration JSON (`application_type: native`).
          content:
            application/json:
              schema:
                type: object

  /v1/sync/preferences:
    get:
      operationId: getPreferencesEnvelope
      summary: Canonical `com.thesocialwire.preferences` envelope
      description: |
        Proxies cached `repo.getRecord` results for lexical `preferences` keyed by DID (token `sub`).
        Supports `If-None-Match` using the lexical `cid` as the weak validator when available.
      tags: [Sync]
      parameters:
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Optional revision token echoed from earlier `etag` payload.
      responses:
        "200":
          description: Preferences lexical record plus metadata.
          content:
            application/json:
              schema:
                type: object
                required: [record, etag, cid, revision, cachedAt]
                properties:
                  record:
                    type: object
                    description: Serialized `preferences` lexical `value` subtree.
                  etag:
                    type: string
                    nullable: true
                  cid:
                    type: string
                    nullable: true
                  revision:
                    type: string
                    nullable: true
                  cachedAt:
                    type: string
                    format: date-time
        "304":
          description: Matches `If-None-Match` against stored revision.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          $ref: "#/components/responses/InternalError"

  /v1/pds/cache/record:
    get:
      operationId: getCachedRepoRecordBlob
      summary: Cached repo record JSON by collection + `rkey`
      description: |
        Generic short TTL accelerator for deterministic single-record reads (collection+rkey scopes).
      tags: [Sync]
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            type: string
        - name: rkey
          in: query
          required: true
          schema:
            type: string
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        "200":
          description: Serialized `repo.getRecord` blob (matching upstream JSON).
          content:
            application/json:
              schema:
                type: object
        "304":
          description: Stored revision unchanged for supplied `If-None-Match`.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Publication sidebar projection ────────────────────────────────────────

  /v1/publications/sidebar:
    get:
      operationId: getPublicationSidebar
      summary: Unified subscribed/following publication sidebar projection
      description: |
        Merges follow-graph discovery, graph subscriptions, Skyreader RSS rows,
        orphan subscription hydration, folder prefs, and per-publication AppView scope keys.
      tags: [Publications]
      responses:
        "200":
          description: Sidebar projection for the authenticated viewer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicationSidebarResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/refresh:
    post:
      operationId: refreshPublicationSidebar
      summary: Recompute publication sidebar projection
      tags: [Publications]
      responses:
        "200":
          description: Refreshed sidebar projection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicationSidebarResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/resolve:
    post:
      operationId: resolveAddPublication
      summary: Resolve a link into a standard.site publication or RSS feed target
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input:
                  type: string
      responses:
        "200":
          description: Resolver outcome.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolveAddPublicationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/folders:
    post:
      operationId: createPublicationFolder
      summary: Create a folder on the viewer PDS (gateway write-through)
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                sortOrder:
                  type: integer
      responses:
        "201":
          description: Folder created.
          content:
            application/json:
              schema:
                type: object
                required: [uri, rkey]
                properties:
                  uri:
                    type: string
                  rkey:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/folders/{rkey}:
    put:
      operationId: updatePublicationFolder
      summary: Update a folder record
      tags: [Publications]
      parameters:
        - name: rkey
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Folder updated.
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deletePublicationFolder
      summary: Delete a folder record
      tags: [Publications]
      parameters:
        - name: rkey
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Folder deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/prefs:
    put:
      operationId: upsertPublicationPrefs
      summary: Upsert publication preferences
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publicationId]
              properties:
                publicationId:
                  type: string
                folderId:
                  type: string
                  nullable: true
                sortOrder:
                  type: integer
                hidden:
                  type: boolean
                existingRkey:
                  type: string
      responses:
        "200":
          description: Preferences upserted.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/subscriptions:
    post:
      operationId: createPublicationSubscription
      summary: Subscribe to a standard.site publication
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publication]
              properties:
                publication:
                  type: string
      responses:
        "201":
          description: Subscription created.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/publications/rss-subscriptions:
    post:
      operationId: createRssSubscription
      summary: Subscribe to an RSS feed
      tags: [Publications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedUrl]
              properties:
                feedUrl:
                  type: string
                title:
                  type: string
                siteUrl:
                  type: string
      responses:
        "201":
          description: RSS subscription created.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/reader/read-marks:
    post:
      operationId: upsertReaderReadMark
      summary: Canonical read-state write on the viewer PDS
      tags: [Reader]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
                readAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Read mark upserted.
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteReaderReadMark
      summary: Mark entry unread on the viewer PDS
      tags: [Reader]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
      responses:
        "200":
          description: Read mark deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/reader/mark-all-read:
    post:
      operationId: markAllReadBySubjectUris
      summary: Bulk mark entries read by subject URI list
      tags: [Reader]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUris]
              properties:
                subjectUris:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Bulk mark completed.
          content:
            application/json:
              schema:
                type: object
                required: [marked]
                properties:
                  marked:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Thin AppView (GDPR-safe Level-1 read index) ───────────────────────────

  /v1/appview/entries:
    get:
      operationId: listAppViewEntries
      summary: Paginated entry timeline from the thin AppView index
      description: |
        **`ENABLE_THIN_APPVIEW` must be `true`** or this route responds `404`.

        Returns Level-1 list rows (title, publishedAt, summary, thumbnail refs) for
        `standard.site` entry collections. Full entry bodies remain on the author PDS.
        Unread filtering joins the viewer's mirrored `read_marks` replica.
      tags: [AppView]
      parameters:
        - name: authorDid
          in: query
          required: true
          schema:
            type: string
          description: Author repo DID whose entries to list.
        - name: publicationAtUri
          in: query
          schema:
            type: string
          description: Optional publication AT-URI for `site` field scoping.
        - name: publicationScopeAtUris
          in: query
          schema:
            type: string
          description: Comma-separated sibling publication AT-URIs for scoped listing.
        - name: publicationSiteUrls
          in: query
          schema:
            type: string
          description: Comma-separated HTTPS site URL keys for scoped listing.
        - name: filter
          in: query
          schema:
            type: string
            enum: [all, unread, read]
            default: all
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Entry list page.
          content:
            application/json:
              schema:
                type: object
                required: [entries]
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/EntryListItem"
                  cursor:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/read-marks:
    post:
      operationId: upsertAppViewReadMark
      summary: Write-through read mark after PDS upsert
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
                readAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Read mark upserted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.
    delete:
      operationId: deleteAppViewReadMark
      summary: Write-through unread (delete read mark)
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectUri]
              properties:
                subjectUri:
                  type: string
      responses:
        "200":
          description: Read mark deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/enroll:
    post:
      operationId: enrollAppViewAuthors
      summary: Backfill recent entries for followed author DIDs
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [authorDids]
              properties:
                authorDids:
                  type: array
                  items:
                    type: string
                  maxItems: 500
      responses:
        "200":
          description: Backfill completed.
          content:
            application/json:
              schema:
                type: object
                required: [indexed]
                properties:
                  indexed:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

  /v1/appview/entry:
    get:
      operationId: getAppViewEntryDetail
      summary: Entry detail from the AppView index
      tags: [AppView]
      parameters:
        - name: entryId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Entry detail row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntryDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Entry not found in index.

  /v1/appview/unread-counts:
    get:
      operationId: getAppViewUnreadCounts
      summary: Unread counts by publication or scope
      tags: [AppView]
      parameters:
        - name: publicationIds
          in: query
          schema:
            type: string
          description: Comma-separated publication ids.
        - name: authorDid
          in: query
          schema:
            type: string
        - name: publicationAtUri
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Unread count map.
          content:
            application/json:
              schema:
                type: object
                required: [counts]
                properties:
                  counts:
                    type: object
                    additionalProperties:
                      type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/appview/mark-all-read:
    post:
      operationId: markAllReadScoped
      summary: Mark all unread entries read for a sidebar scope
      tags: [AppView]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scope]
              properties:
                scope:
                  type: object
                  required: [kind]
                  properties:
                    kind:
                      type: string
                      enum: [publication, folder, subscribed, following]
                    publicationId:
                      type: string
                    folderRkey:
                      type: string
      responses:
        "200":
          description: Scoped mark-all-read completed.
          content:
            application/json:
              schema:
                type: object
                required: [marked]
                properties:
                  marked:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/appview/privacy/purge:
    delete:
      operationId: purgeAppViewPrivacyData
      summary: Delete all indexed read marks for the authenticated viewer
      tags: [AppView]
      responses:
        "200":
          description: Viewer data purged from the index.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Route disabled when thin AppView flag is unset.

tags:
  - name: Health
    description: Service health
  - name: OAuth
    description: Discoverable client metadata for tunnel + hosted API origins
  - name: Sync
    description: Protected ATProto-backed reader accelerators
  - name: Publications
    description: Unified sidebar projection, resolver, and gateway write-through
  - name: Reader
    description: Canonical PDS read-state writes via gateway
  - name: AppView
    description: GDPR-safe Level-1 entry index gated behind `ENABLE_THIN_APPVIEW`
